<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#">
                <i class="fas fa-fish"></i>
                Home
            </a>
            <a class="navbar-item" href="#">
                <i class="fas fa-envelope"></i>
                Messages
            </a>
            <a class="navbar-item" href="#">
                More
            </a>
        </div>
    </div>
</nav>
