<div class="box calc" width="500px">
    <div class="box">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" readonly [value]="statement">
            </div>
            <div class="control">
                <button class="button" (click)="statement = ''">C</button>
            </div>
        </div>
    </div>
    <div *ngFor="let row of buttons" class="columns">
        <div class="column is-3" *ngFor="let btn of row">
            <button class="button is-large is-info" (click)="add(btn)">
                {{btn}}
            </button>
        </div>
    </div>
</div>
