<article class="notification is-primary">
    <p class="title">Fun Fact</p>
    <p class="subtitle">
        The original name for the search engine Google was Backrub.
        It was renamed Google after the googol, which is the number
        one followed by 100 zeros.
    </p>
</article>
