<aside class="menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a>Dashboard</a></li>
        <li><a>Customers</a></li>
    </ul>

    <p class="menu-label">
        Settings
    </p>
    <ul class="menu-list">
        <li><a>User Profile</a></li>
        <li><a>General</a></li>
    </ul>
</aside>
