<h1>Interpolation</h1>

<div>{{time | date : "HH:mm:ss"}}</div>

<div>{{counter}}</div>

<div>{{randomNum}}</div>

<h1>ngIf</h1>

<div *ngIf="score >= 0">Your score is {{score}} / 10</div>

<div *ngIf="score < 4 && score >= 0"> Boooo</div>
<div *ngIf="score > 7">Amaai</div>

<app-ng-for></app-ng-for>
