<app-header></app-header>

<section class="section">
    <div class="columns">
        <div class="column is-3">
            <app-menu></app-menu>
        </div>
        <div class="column is-9">
            <div class="tile is-ancestor">
                  <div class="tile is-vertical is-8">
                      <div class="tile">
                          <div class="tile is-parent is-vertical">
                              <app-funfact class="tile is-child"></app-funfact>
                              <app-drinks class="tile is-child"></app-drinks>
                          </div>
                          <div class="tile is-parent">
                              <app-card></app-card>
                          </div>
                      </div>
                  <div class="tile is-parent">
                      <article class="tile is-child notification">
                          <app-contact></app-contact>
                      </article>
                  </div>
                </div>
                <div class="tile is-parent">
                    <app-info></app-info>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
