<input #inp (input)="item = inp.value" class="input" type="text" placeholder="Todo Item">
<button [disabled]="item.length == 0" class="button is-success" (click)="add(inp.value)">Add</button>


<ul>
    <li *ngFor="let item of items">
        {{item}} <button (click)="delete(item)" class="button is-dange">X</button>
    </li>
</ul>
