<div class="form has-background-light">
    <h1 class="title">Contact</h1>
    <form>
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="email" placeholder="Email">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Message"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
