<div class="card" style="width: 20%;">
    <div class="card-image">
        <figure class="image is-4by3">
            <img [src]="imageUrl">
        </figure>
    </div>
    <div class="card-content">
        <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
        </div>
    </div>
</div>
