<h1>ngFor</h1>

<table>
    <thead>
        <th>City</th>
        <th>Temp</th>
        <th>Forecast</th>
        <th></th>
    </thead>
    <tr *ngFor="let t of temp">
        <td>{{t.city}}</td>
        <td>{{t.temp}} °C</td>
        <td *ngIf="t.temp == 0">Kans op gladheid</td>
        <td *ngIf="t.temp >= 1 && t.temp <= 3">Kans op sneeuw?</td>
        <td *ngIf="t.temp > 17">Zacht weer</td>
        <td>
            <img src='https://openweathermap.org/img/w/{{ t.temp % 4 + 1 | number : "2.0"}}d.png'/>
        </td>
    </tr>
</table>

<h2>Pople</h2>

<table>
    <thead>
        <th>Firstname</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>age</th>
    </thead>

    <tr *ngFor="let person of people">
        <td>{{person.firstname}}</td>
        <td>{{person.name}}</td>
        <td>{{person.birthdate | date : "dd/MM/yyyy"}}</td>
        <td>{{person.age}}</td>
    </tr>

</table>






<table>
    <thead>
        <th>Rank</th>
        <th>Numb</th>
    </thead>

    <tr *ngFor="let num of removeUneven(numbers); index as i">
        <td>{{i + 1}}</td>
        <td>
            <span *ngIf="num <= 9">{{num}}</span>
            <b *ngIf="num > 9">{{num}}</b>
        </td>
    </tr>

</table>






