<video [width]="res.width" [height]="res.height" #video>
    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
</video>
<br>
<button class="button" (click)="video.play()" [disabled]="!video.paused">Play</button>
<button class="button" (click)="video.pause()" [disabled]="video.paused">Pause</button>
<div class="select">
    <select value="{{res.width}}x{{res.height}}" (change)="change(ressel.value)" #ressel>
        <option value="640x400">640x400</option>
        <option value="800x600">800x600</option>
    </select>
</div>
