<article class="notification is-warning">
    <p class="title">Drinks</p>
    <p class="subtitle">Alcohol</p>
        Gin
        <progress class="progress" value="35" max="100">35%</progress>
        Tequila
        <progress class="progress" value="50" max="100">50%</progress>
        Beer
        <progress class="progress" value="5" max="100">5%</progress>
</article>
